@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');


.about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    overflow: hidden;
    background-image: none;
    background-size: cover;
    background-position: bottom;
}

.container-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

/* TITLE */

.about-title {
    display: flex;
    justify-content: center;
    background-color: inherit;
    font-family: 'Press Start 2P';
    font-size: 2rem;
    color: #2f5f6ccf;
    text-decoration: none;
    font-weight: lighter;
    text-shadow:
        0.1em 0 0 rgb(197 214 211),
        0 -0.05em 0 rgb(224 116 172 / 75%),
        0.1em 0.06em 0 #33cbf4dc;
    letter-spacing: 20px;
    animation-name: float-text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

.container-about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}


.turn-around {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    background-color: inherit;
    color: #ffffff;
    animation-name: moveUp;
    animation-duration: 5s;
    perspective: 1000rem;
}

.turn-around-side {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
}

.turn-around-side--front {
  display: flex;
  background-image: url("images/tori-transparent.png");
  background-color:none;
  background-position: center;
  background-size: cover;
}

.turn-around-side--back {
  transform: rotateY(180deg);
  background-color: #314850;
  filter: drop-shadow(4px -2px 9px rgba(0, 0, 0, 0.7));
}

.turn-around:hover .turn-around-side--front {
    transform: rotateY(180deg);
}

.turn-around:hover .turn-around-side--back {
    transform: rotateY(0);
}


.description-about {
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    text-align: center;
    font-size: 0.9rem;
    letter-spacing: 0.3rem;
}

#emojis {
  letter-spacing: 0.9rem;
  padding-top: 1.8rem;
}

.container-habilities {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

/* SECOND CARD */


.tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 5rem;
    width: 55rem;
    color: rgb(29, 141, 158);
    animation-name: moveUp;
    animation-duration: 5s;
    perspective: 1000rem;
}

.tools-title {
    display: flex;
}

figure {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
}

figcaption {
    padding-right: 35px;
}

.tools-side {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    height: 5rem;
    width: 55rem;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;

}

.tools-side-front {
    background-color: none;
}

.tools-side-back {
    display: flex;
    transform: rotateY(180deg);
    background-color:none;
    color: #de4b15;
    background-position: center;
    background-size: cover;
}

.tools:hover .tools-side-front {
    transform: rotateY(180deg);
}

.tools:hover .tools-side-back {
    transform: rotateY(0);
}

.permanent {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    height: 5rem;
    width: 50rem;
    transition: all 0.3s ease-in-out;
    top: 0;
    left: 0;
    color: #1c8d9e;
}
