@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

/* SECTION MY PROJECTS */

.my-projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    overflow: auto;
    /* background-color:#ffffff; */
    background-size: cover;
    background-position: bottom;
    background-image: none;
    /* background-blend-mode: hue; */
}


.projects-title {
    display: flex;
    justify-content: center;
    background-color: none;
    font-family: 'Rubik Glitch';
    font-size: 50px;
    font-weight: lighter;
    text-decoration: none;
    color: #2f5f6ccf;
    text-shadow: 
    0.1em 0 0 rgb(197 214 211), 
    0 -0.05em 0 rgb(224 116 172 / 75%), 
    0.1em 0.06em 0 #33cbf4dc;
    letter-spacing: 20px;
    animation-name: moveDown;
    animation-duration: 3s;
    /* overflow: auto; ???????? */
}

/* CARDS */

.global-projects {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    /* height: 100vh;
    overflow: auto;
    background-image: url(images/back-img.jpg);
    background-size: cover;
    background-position: bottom;
    filter: blur(8px); */
    /* background-image: linear-gradient(to top, #6f7a88, #647280, #5a6b77, #50636e, #465c65, #3f555e, #384f56, #31484f, #2b4148, #253941, #20323a, #1a2b33); */
}


.row-projects-1 {
    display: flex;
    justify-content: space-evenly;
    /* height: fit-content; */
    /* filter: drop-shadow(0 0 2rem #ffffffb9); */
    filter: drop-shadow(4px -2px 9px rgba(0, 0, 0, 0.7));
}

.text-front {
    font-family: 'Rubik Glitch';
    text-decoration: none;
    /* letter-spacing: 8px; */
    color: #eef1f2;
    text-shadow: 0.2em 0 0 rgb(40 158 195 / 75%), 0 0.04em 0 rgb(241 0 255 / 38%), 0.19em 0 0 rgb(0 0 0);
    margin: 20% 40%;
    padding: 10% 0%;
    font-size: 3rem;
}

.text-back {
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    text-decoration: none;
    text-shadow: none;
    text-align: center;
    color: #155055;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    margin: 1% 8%;
    padding: 1% 0%; 


}


.row-projects-2 {
    display: flex;
    justify-content: space-evenly;
    /* height: fit-content; */
    filter: drop-shadow(4px -2px 9px rgba(0, 0, 0, 0.7));
}


.card {
    display: flex;
    perspective: 200rem;
    background-color: inherit;
    color:rgb(255, 255, 255);
    height: 30rem;
    width: 30rem;
    transition: all .8s;
    position: relative;
    animation-name: moveUp;
    animation-duration: 3s;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.card-side {
    /* background-color: rgb(204, 231, 53); */
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 30rem;
    width: 30rem;
    transition: all 0.4s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
}

.card-side--front {
    /* display: flex;
    align-content: center;
    justify-content: center; */
    /* background-color: rgba(255, 255, 255, 0.092); */
    background-image: url(images/back-img.jpg);
    background-position: center;
    background-size: cover;
    /* background-image: inherit; */
    /* background-image: inherit; */
    backface-visibility: hidden;
}

.card-side--back {
    display: flex;
    transform: rotateY(180deg);
    background-image: none;
    /* background-image: url(images/row-2-column-1.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* backface-visibility: hidden; */
}

.card:hover .card-side--front {
    transform: rotateY(180deg);
}

.card:hover .card-side--back {
    transform: rotateY(0);

}


